* {
  margin: 0px;
  padding: 0px;
}

.menu h2{
  text-align: center;
  color: whitesmoke;
}

.menu h2 b{
  color: greenyellow;
}

.menu ul{
  list-style: none;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu ul li{
  padding: 15px 20px;
  background-color: #062226;
  color: whitesmoke;
  border-radius: 5px;
  margin: 5px;
  br
}

.menu{
  font-family: "Roboto";
  padding: 0;
  margin: 20px 110px 55px;
}

.menu ul li b{
    color: greenyellow;
    background-color: #062226;
}